<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<input type="text" [(ngModel)]="value" (focus)="show()" (blur)="hidden()" />
<p [hidden]="ifHidden" >asdasdfa</p>
<button (click)='fun()'>点击</button>
<button (dblclick)='fun()'>双击</button>
<br />
<input type="text" name="" id="" value="" [(ngModel)]="num1"/>+
<input type="text" name="" id="" value="" [(ngModel)]="num2"/>=
{{add(num1,num2)}}
<p *ngIf="display">ddd</p>
<p *ngFor="let data of datalist;let index=index">{{data}},{{index}}hahahah</p>
<p>{{money | currency:"USD":false}}</p>
<p>{{data | json}}</p>
<p>{{money | number:"1.0-2"}}</p>-->
<div id="gBox" class="gBox">
<app-goods ></app-goods>
</div>
